<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Summary Generator</title>
</head>
<body>
  <div class="wrapper">
    <div class="meeting-input">
      <ion-icon name="create-outline"></ion-icon>
      <input type="text" placeholder="Enter Meeting time : Ex. 2022/12/11 18:29">
    </div>
  </div>
  <button id="send-meeting" class="button btn-hover color-7">Next</button>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</html>