<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Summary Generator</title>
</head>
<body>
  <button class="button btn-hover color-7">Generate Summary</button>
  <div class="wrapper-summary">
      <h3> Meeting Highlights based on prompts :</h3>
      <br/>
      <textarea id="summary"></textarea>
  </div>
  <button class="button btn-hover color-9">Save to PDF</button>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{url_for('static', filename='prompt.js')}}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</html>